* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #f39a96;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 20px;
    background-color: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
    transition: 1s;
}
.card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform-origin: left;
    transform-style: preserve-3d;
    background: #000;
    transition: 1s;
}
.card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.card .imgBox img:nth-child(2) {
    transform: rotateY(180deg);
}
.card:hover .imgBox {
    transform: rotateY(-180deg);
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}
.card .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.card .details .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card .details  h2 {
    text-align: center;
    font-weight: 700;
    line-height: 1em;
    color: rgb(187, 140, 140);
}
.card .details h2 span {
    color: #ae9a87;
    font-size: 0.9em;
    font-style: italic;
}
.card .details .social-icons {
    position: relative;
    display: flex;
    margin-top: 10px;
}
.card .details .social-icons i{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
    text-decoration: none;
}
.card .details .social-icons i:hover {
    background: #ae9a87;
}
.card:hover {
    transform: translateX(50%);
}

